body {
    margin: 0px;
}

.df {
    display: flex;
}

.parent-weather {
    background-color: black;
    height: 150vh;
}

.weathers-image img {
    margin-top: 35px;
    margin-left: 70px;
    width: 250px;
}

.weather-links a {
    text-decoration: none;
    color: lightblue;
    margin-left: 90px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.weather-links li {
    margin-top: 130px;
    display: inline-block;
}

.app-header {
    width: 460px;
    height: 550px;
    border: 1px solid teal;
    margin-left: 490px;
    margin-top: -690px;
}

.app-header input {
    display: block;
    border: 1px solid teal;
    outline: none;
    background: none;
    color: yellow;
    margin-left: 10px;
    width: 270px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app-header button {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    background: none;
    color: yellow;
    border: 1px solid teal;
    padding: 2px 1px;
    margin-top: -34px;
    margin-left: 300px;
    width: 90px;
    height: 36px;
}

.app-header p {
    margin-top: 26px;
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
}

.app-header img {
    position: absolute;
    margin-top: -16px;
    margin-left: 10px;
}